<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-md-4" style="margin-top:100px;">
      <ul>
        <li class="liitem">
          <h2><a class="nav-link" routerLink="/addContact">Add Contact</a></h2>
        </li>
        <li class="liitem">
          <h2><a class="nav-link" routerLink="/searchContact">Search Contact</a></h2>
        </li>
      </ul>
    </div>
    <div class="col-md-8" style="margin-top:150px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>